<div class="main-container text-center myprofile">
  <h1 class="display-3">マイページ</h1>
  <% if @user.avatar.present? %>
    <div class="profile-avatar">
      <%= image_tag(@user.avatar.url, alt: @user.username, class: "user-avatar") if @user.avatar? %>
      <%= form_for(current_user, as: :user, url: registration_path(:user), html: { method: :put, multipart: true }) do |f| %>
        <label class="profile-avatar__edit">
          編集
          <%= f.file_field :avatar, class: "profile-avatar__input js-avatar-input" %>
        </label>
      <% end %>
    </div>
  <% end %>
  <h1 class="display-3"><%= @user.username %></h1>
  <p class="lead" style="font-size: 2em;">Email: <%= @user.email %></p>
  <p class="lead" style="font-size: 2em;">Password: *********
    <% if current_user.email == "guest@example.com" %>
      <span class="profile-edit-disabled" title="ゲストアカウントでは変更は許可されていません">
        <i class="fas fa-edit ml-2"></i>
      </span>
    <% else %>
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-edit ml-2"></i>
      <% end %>
    <% end %>
  </p>
  <% unless @user.avatar.present? %>
    <div class="mt-4">
      <%= form_for(current_user, as: :user, url: registration_path(:user), html: { method: :put, multipart: true }) do |f| %>
        <div class="profile-avatar-upload">
          <label class="profile-avatar-upload__button">
            アイコンを追加
            <i class="fas fa-upload"></i>
            <%= f.file_field :avatar, class: "profile-avatar-upload__input js-avatar-input" %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="mt-2">
    <%= button_to "アカウントを削除",
                  registration_path(current_user),
                  data: { confirm: "本当に削除して良いですか?" },
                  method: :delete,
                  class: "btn btn-sm w-auto" %>
  </div>
</div>
